<%# locals: (comment: Comment, with_replies: true) %>
<div class="flex gap-2" id="comment-<%= comment.id %>" data-testid="comment-<%= comment.id %>">
  <%= render 'shared/ui/avatar', avatar: comment.commenter.avatar %>
  <div class="w-full flex flex-col gap-2 mb-2">
    <div class="flex flex-col gap-1 border border-base-300 p-2 rounded-box">
      <div class="flex items-center gap-2 justify-between">
        @<%= comment.commenter.username %>
        &CenterDot;
        <%= time_ago_in_words(comment.created_at) %> ago
        <% if comment.is_commenter?(current_user) %>
          <span class="flex gap-1">
            <%= button_to 'Edit', load_edit_comment_path(comment), class: 'btn btn-primary btn-xs', data: { turbo: true, testid: "edit-comment-#{comment.id}-button" } %>
            <%#= button_to 'Delete', comment_path(comment), method: :delete, class: 'btn btn-error btn-xs', data: { turbo: true, testid: "delete-comment-#{comment.id}-button" } %>
            <%= button_to 'Delete', confirm_delete_comment_path(comment), 
              class: 'btn btn-error btn-xs', 
              data: { testid: "confirm-delete-comment-#{comment.id}-button" } 
            %>
          </span>
        <% end %>
      </div>
      <p>
        <%= comment.body %>
      </p>
    </div>
    <div class="flex gap-2 items-center">
      <%= render 'shared/vote', votable: comment %>
      <% unless comment.is_max_depth? %>
        <%= button_to new_reply_path(comment),
          class: 'flex gap-1 items-center badge cursor-pointer', 
          data: { turbo: true, testid: "new-reply-comment-#{comment.id}-button" } do %>
          <%= render_icon 'comment', class: 'size-4' %>reply
        <% end %>
      <% end %>
    </div>
    <div id="comment-<%= comment.id %>-reply-form"></div>
  </div>
</div>
<% if with_replies %>
  <div class="pl-8" id="comment-<%= comment.id %>-replies">
    <%= render comment.replies %>
  </div>
<% end %>
