<%# locals: (comment: Comment) %>
<div class="flex py-1 gap-2" id="comment-<%= comment.id %>" data-testid="comment-<%= comment.id %>">
  <%= render 'shared/ui/avatar', avatar: comment.commenter.avatar %>
  <div>
    <div class="flex flex-col gap-1 border border-base-300 p-2 rounded-box">
      <div class="flex items-center gap-2">
        @<%= comment.commenter.username %>
        &CenterDot;
        <%= time_ago_in_words(comment.created_at) %> ago
        <% if comment.is_commenter?(current_user) %>
          <%= button_to 'Edit', load_edit_board_comment_path(@board, comment), class: 'btn btn-primary btn-xs', data: { turbo: true, testid: "edit-comment-#{comment.id}-button" } %>
          <%= button_to 'Delete', board_comment_path(@board, comment), method: :delete, class: 'btn btn-error btn-xs', data: { turbo: true, testid: "delete-comment-#{comment.id}-button" } %>
        <% end %>
      </div>
      <p>
        <%= comment.body %>
      </p>
    </div>
    <div class="flex gap-2 items-center">
      <%= render 'shared/vote', votable: comment %>
      <span>reply</span>
    </div>
  </div>
</div>
<div class="pl-8">
  <%= render comment.replies %>
</div>
