<%# locals: (comment:, board_id:, parent_id: nil) %>
<%= form_with(model: comment, class: "form mt-2", data: { controller: "form" }) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless parent_id.nil? %>
    <%= form.hidden_field :parent_id, value: parent_id %>
  <% end %>
  <%= form.hidden_field :board_id, value: board_id %>
  <%= form.textarea :body,  
        data: { testid: 'comment-body', 'form-target': 'input' },
        placeholder: "Enter comment ...",
        required: true %>
  <div class="flex gap-2">
    <% cancel_path = parent_id.nil? ? cancel_new_comments_path : cancel_new_comments_path %>
    <% data = { board_id: board_id, parent_id: parent_id } %>
    <button 
      type="button" data-form-action="<%= cancel_path %>" 
      class="btn btn-ghost" 
      data-testid="cancel-comment-button"
      data-token="<%= form_authenticity_token %>"
      data-controller="request"
      data-action="request#submit"
      data-form-data="<%= data.to_json %>"
    >
      Cancel
    </button>
    <%= form.submit  comment.new_record? ? "Comment" : "Update Comment",class: "btn btn-primary grow" %>
  </div>
<% end %>
