<% parent = local_assigns[:parent] %>
<%= form_with(model: [board, comment], class: "form") do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless parent.nil? %>
    <%= form.hidden_field :parent_id, value: parent.id %>
  <% end %>
  <%= form.textarea :body,  
        data: { testid: 'comment-body' },
        placeholder: "Enter comment ...",
        required: true
      %>
  <%= form.submit "Comment", class: "btn btn-primary" %>
<% end %>
