<%# locals: (comment:, board_id:, parent_id: nil) %>
<%= form_with( 
  model: comment, 
  class: "form w-full mt-4",
  id: "comment-#{comment.id}", 
  data: { controller: "form" }) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless parent_id.nil? %>
    <%= form.hidden_field :parent_id, value: parent_id %>
  <% end %>
  <%= form.hidden_field :board_id, value: board_id %>
  <div class="relative">
    <%= form.textarea :body,  
        data: { testid: 'comment-body' },
        placeholder: "Enter comment ...",
        required: true, rows: 5, class: 'min-h-32' %>
    <div class="flex gap-2 absolute bottom-2 right-2">
      <% if comment.new_record? && parent_id.nil? %>
        <% cancel_path = cancel_new_comments_path %>
      <% elsif comment.new_record? %>
        <% cancel_path = cancel_new_reply_path(id: parent_id) %>
      <% else %>
        <% cancel_path = cancel_edit_comment_path(id: comment.id) %>
      <% end %>
      <% data = { board_id: board_id, parent_id: parent_id } %>
      <button 
      type="button" data-form-action="<%= cancel_path %>" 
      class="btn btn-ghost rounded-full" 
      data-testid="cancel-comment-button"
      data-token="<%= form_authenticity_token %>"
      data-controller="request"
      data-action="request#submit"
      data-form-data="<%= data.to_json %>"
    >
        Cancel
      </button>
      <button class="btn btn-primary rounded-full">
        <%= comment.new_record? ? "Comment" : "Update Comment" %>
        <%= render_icon 'send', class: 'size-4' %>
      </button>
    </div>
  </div>
<% end %>
