<header class="h-header w-full border-b border-base-300 flex items-center px-4 justify-between">
  <div class="flex gap-2 items-center">
    <%= link_to "Odds Boards", boards_path, data: { active: current_page?(boards_path) }, class: 'text-semibold data-[active=true]:text-secondary' %>
    <%= link_to "My Boards", my_boards_path, data: { active: current_page?(my_boards_path) }, class: 'text-sm data-[active=true]:text-secondary' %>
  </div>
  <%= form_with url: search_boards_path, class: 'flex items-center', data: { controller: 'form'} do |form| %>
    <label class="input input-secondary">
      <%= render_icon 'search' %>
      <%= form.text_field :query, placeholder: "Search boards...", class: "grow", data: { action: "form#debounceSubmit"} , disabled: params[:id].present? %>
    </label>
    <input value="<%= @sort_by %>" autocomplete="off" type="hidden" name="sort_by" id="sort-by-hidden">
    <input value="<%= @direction %>" autocomplete="off" type="hidden" name="direction" id="direction-hidden">
  <% end %>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary", data: { testid: 'logout-button' } %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary", data: { testid: 'login-button' } %>
  <% end %>
</header>