<header class="h-header w-full border-b border-base-300 flex items-center px-4 justify-between">
  <div class="flex gap-2 items-center">
    <%= link_to "Odds Boards", boards_path, data: { turbo_frame: 'main-content', active: current_page?(boards_path) }, class: 'text-semibold data-[active=true]:text-secondary' %>
    <%= link_to "My Boards", my_boards_path, data: { turbo_frame: 'main-content', active: current_page?(my_boards_path) }, class: 'text-sm data-[active=true]:text-secondary' %>
  </div>
  <label class="input input-secondary">
    <%= render_icon 'search' %>
    <input type="search" class="grow" placeholder="Search" />
    <kbd class="kbd kbd-sm">⌘</kbd>
    <kbd class="kbd kbd-sm">K</kbd>
  </label>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary", data: { testid: 'logout-button' } %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary", data: { testid: 'login-button' } %>
  <% end %>
</header>