<%# locals: (board:, without_comments: true) %>
<% path = board_path(board) %>
<% selected = current_page?(path) %>
<% if selected %>
  <div class="flex mt-4"
    id="board-<%= board.id %>"
    data-testid="board-<%= board.id %>"
  >
    <%= render 'inner_board', board: board %>
  </div>
<% else %>
  <%= link_to path, 
  class: "flex group/board mt-4", 
  data: { controller: 'propagation', testid: "board-#{board.id}" }, 
  id: "board-#{board.id}" do %>
    <%= render 'inner_board', board: board %>
  <% end %>
<% end %>
<% unless without_comments %>
  <div id="comment-form">
    <%= render 'comments/form', comment: Comment.new, board_id: @board.id %>
  </div>
  <div id="comments" class="flex flex-col">
    <%= render @comments %>
  </div>
  <div class="h-8 bg-base-200 z-50 mt-4"></div>
<% end %>