<div id="<%= dom_id board %>">
  <p>
    <strong>Author:</strong>
    <%= board.author_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= board.category_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= board.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= board.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= board.status %>
  </p>

  <p>
    <strong>Upvotes count:</strong>
    <%= board.upvotes_count %>
  </p>

  <p>
    <strong>Views count:</strong>
    <%= board.views_count %>
  </p>

  <p>
    <strong>Last activity at:</strong>
    <%= board.last_activity_at %>
  </p>

</div>
