<div class="card" id="<%= dom_id board %>">
  <div class="card-body gap-2" data-controller="collapsible">
    <div class='flex gap-2 items-center'>
      <%= render 'components/ui/avatar', avatar: board.author.avatar %>
      @<%= board.author.username %>
      &CenterDot;
      <%= time_ago_in_words(board.last_activity_at) %> ago
      <span class="badge badge-soft"><%= board.category.name %></span>
      <span class="badge badge-soft"><%= board.visibility %></span>
    </div>
    <h2>
      <%= board.title %>
    </h2>
    <p>
      <%= board.body %>
    </p>
    <%= render 'tags/tags', tags: board.tags %>
    <div class="flex gap-2 items-center">
      <% class_name = ' bg-base-300' if board.is_voted? current_user %>
      <%= button_to upvote_board_path(board), class: "grid size-6 place-items-center rounded-full #{class_name} cursor-pointer" do %>
        <%= render_icon 'upvote', class: 'size-4' %>
      <% end %>
      <%= board.vote_count %> upvotes
      <button data-action="click->collapsible#toggle" class="flex cursor-pointer">
        <%= render_icon 'comment', class: 'size-4' %>
      </button>
      <%= board.comments.count %> comments
    </div>
    <div 
      data-collapsible-target="content"
      class="hidden overflow-hidden transition-all duration-500 ease-in-out">
      <div class="border my-1"></div>
      <h4>Comments(<%= board.comments.count %>)</h4>
      <%= render board.comments_by_depth(0) %>
    </div>
  </div>
</div>
