<%# locals: (board:, without_comments: true) %>
<% path = board_path(board) %>
<% selected = current_page?(path) %>
<% path = "#" if selected %>
<% if selected %>
  <div class="flex"
    id="board-<%= board.id %>"
    data-testid="board-<%= board.id %>"
  >
    <%= render 'inner_board', board: board %>
  </div>
<% else %>
  <%= link_to path, 
  class: "flex group/board", 
  data: { controller: 'propagation', testid: "board-#{board.id}" }, 
  id: "board-#{board.id}" do %>
    <%= render 'inner_board', board: board %>
  <% end %>
<% end %>
<% unless without_comments %>
  <div id="comment-form">
    <%= render 'comments/form', comment: Comment.new, board_id: @board.id %>
  </div>
  <!--<div id="comments">-->
  <%#= render @comments %>
  <!--  </div>-->
<% end %>