<div class="card mt-4 w-full">
  <div class="card-body">
    <%= form_with(model: board, class: "form") do |form| %>
      <div class="flex gap-2">
        <%= render 'shared/ui/selector', 
          class: 'w-40', 
          placeholder: "Select Visibility", 
          options: @visibility_options, 
          name: "board[visibility]", 
          defaultValue: @board.visibility.to_s, 
          data: { testid: 'board-visibility' }
        %>
        <%= render 'shared/ui/selector', 
          class: 'w-full', 
          placeholder: "Select Category", 
          options: @category_options, 
          name: "board[category_id]", 
          defaultValue: @board.category_id.to_s, 
          data: { testid: "board-category-select" }
        %>
      </div>
      <%= form.text_field :title, 
        class: 'input-lg font-bold', 
        data: { testid: 'board-title-input' },
        placeholder: "Enter title ..."
      %>
      <% if board.errors[:title].any? %>
        <div class="text-error">
          <%= "Title " + board.errors[:title].first %>
        </div>
      <% end %>
      <%= form.textarea :body, 
        rows: 10, 
        data: { testid: 'board-body-input' },
        placeholder: "Enter body ..."
      %>
      <% if board.errors[:body].any? %>
        <div class="text-error">
          <%= "Body " + board.errors[:body].first %>
        </div>
      <% end %>
      <%= render 'shared/ui/multi_select', 
        name: "board[tags]", 
        options: @tag_options, 
        placeholder: "Enter tag name ...", 
        class: 'w-full', 
        defaultValue: @board.tags.pluck(:name),
        data: { testid: "board-tags-select" }
      %>
      <div class="flex justify-between">
        <% cancel_path = board.new_record? ? cancel_new_boards_path : cancel_edit_board_path(board) %>
        <button 
          type="button" data-form-action="<%= cancel_path %>" 
          class="btn btn-ghost" 
          data-testid="cancel-board-button"
          data-token="<%= form_authenticity_token %>"
          data-controller="request"
          data-action="request#submit"
          >
          Cancel
        </button>
        <div class="flex items-center gap-2">
          <%= button_tag "Draft", type: :submit, name: "board[state]", value: :is_draft, data: { testid: 'draft-board-button' }, class: 'btn-secondary' %>
          <%= button_tag "Publish",type: :submit, name: "board[state]", value: :is_published, data: { testid: 'publish-board-button' }, class: 'btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
