<%# locals: (board:) %>
<div class="card w-full group-hover/board:bg-base-300">
  <div class="card-body gap-2" >
    <div class='flex items-center justify-between'>
      <div class="flex gap-2 items-center">
        <%= render 'shared/ui/avatar', avatar: board.author.avatar %>
        @<%= board.author.username %>
        &CenterDot;
        <span class="opacity-50"><%= time_ago_in_words(board.created_at) %> ago</span>
        <span class="opacity-50">
          <% if board.is_private? %>
            <%= render_icon 'globe-lock', class: 'size-4' %>
          <% else %>
            <%= render_icon 'globe', class: 'size-4' %>
          <% end %>
        </span>
        <% unless board.category.nil? %>
          <span class="badge badge-soft badge-secondary"><%= board.category.name %></span>
        <% end %>
      </div>
      <%= render 'board_options', board: board if board.is_author?(current_user) %>
    </div>
    <h2 data-testid="board-title">
      <%= highlight board.title, with: @query %>
    </h2>
    <p class="mb-2">
      <%= highlight board.body, with: @query %>
    </p>
    <%= render 'tags/tags', tags: board.tags %>
    <div class="flex gap-2 items-center">
      <%= render 'shared/vote', votable: board %>
      <%= render 'comments/button', board: board %>
    </div>
  </div>
</div>