<%# locals: (name:, options:, placeholder: '', class: '', defaultValue: Array, data:) %>
<div 
  data-controller="multi-select" 
  data-multi-select-options-value="<%= options %>"
  data-multi-select-default-value="<%= defaultValue %>"
  class="relative <%= local_assigns[:class] %>"
  data-testid="<%= data[:testid] %>"
  >
  <select 
    name="<%= name %>[]" 
    multiple hidden
    data-multi-select-target="select"
    >
  </select>
  <div data-multi-select-target="list" data-action="click->multi-select#leave" class="flex flex-wrap gap-2 border rounded-box p-2 empty:hidden mb-2"></div>
  <input 
    type="text" placeholder="<%= placeholder %>"
    class="input w-full" 
    data-multi-select-target="input"
    data-action="keydown.enter->multi-select#addByInput click@window->multi-select#hide focus->multi-select#enter focus->multi-select#scroll input->multi-select#filter"
  />
  <div
        data-multi-select-target="menu"
        class="hidden transition transform absolute w-full mt-1 rounded-field border shadow-sm bg-base-100 z-50 max-h-96 overflow-y-auto"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
    <div class="menu w-full" data-multi-select-target="options">
      <% options.each do |option| %>
        <li>
          <button
            class="selector"
            type="button"
            data-multi-select-target="option" 
            data-action="click->multi-select#addByOption">
            <%= option %>
          </button>
        </li>
      <% end %>
    </div>
  </div>
</div>