<%# locals: (placeholder:, options:, name:, class: '', defaultValue: '', data: '',disabled: false) %>
<div 
      data-controller="selector" 
      data-selector-default-value="<%= defaultValue %>"
      data-selector-default-label-value="<%= placeholder %>"
      class="relative <%= local_assigns[:class] %>"
      >
  <input name="<%= name %>" type="hidden" data-selector-target="input" data-action="<%= data[:action] %>">
  <button 
    class="input cursor-pointer flex w-full"
    type="button" 
    data-action="selector#toggle click@window->selector#hide"
    data-testid="<%= data[:testid] %>"
    <%= "disabled" if disabled %>
    >
    <span data-selector-target="label" class="grow text-start"><%= placeholder %></span>
    <span 
          type="button"
          data-selector-target="clearBtn" 
          data-action="click->selector#clear"
      class="rounded-full hover:bg-base-300 size-6 flex items-center justify-center"
      >
      <%= render_icon 'x', class: "size-4" %>
    </span>
    <%= render_icon 'chevrons-up-down', class: "size-4" %>
  </button>
  <div
        data-selector-target="menu"
        class="hidden transition transform absolute w-full mt-1 rounded-field border shadow-sm bg-base-100 z-50"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
    <div class="menu w-full">
      <% options.each do |option| %>
        <li>
          <button 
                class="selector flex items-center group"
                data-selector-target="button"
                data-action="selector#select"
                type="button"
                value="<%= option[:value] %>"
              >
            <%= option[:icon] if option[:icon].present? %>
            <span class="grow text-start"><%= option[:label] %></span>
            <%= render_icon 'check', class: "size-4 opacity-0 group-data-[selected=true]:opacity-100" %>
          </button>
        </li>
      <% end %>
    </div>
  </div>
</div>
